* { box-sizing: border-box; }
html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; padding-bottom: 1rem; background: white; }
h1 { font-weight: normal; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav img { height: 80px; }
nav h1 { flex: auto; margin: 0 0 0 1rem; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }

input[type=text], input[type=password], select, textarea { width: 100%; }
input[type=submit] {
    align-self: start;
    min-width: 10em;
    background: #377ba8;
    color: white;
    font-weight: normal;
}
input.danger { color: #cc2f2e; }

.content span.label { float: left; width: 40%; }
.content span.field { float: left; width: 60%; }
.content div.button { text-align: center; width: 100%; }
.content form { margin: 2em 0; padding: 0 5rem; display: flex; flex-direction: column; }
.content form div { padding: 0.5rem 0; }

.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

.sigpad { outline: 1px solid #ccc; }
.docrev { display: block; text-align: right; font-size: 60%; }

