/* Define colours */
:root {
    --mbblue: #377ba8;
    --mblightblue: #cae6f6;
    --mbheader: #eee;
    --mbbackground: #fff;
    --mboutside-background: #e1e1e1;
    --mbmenu: #eee;
    --mbwarn:  #cc2f2e;
}

/* Fonts */
@font-face {
    font-family: opensans;
    src: url(OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: opensans-italic;
    src: url(OpenSans-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: opensans-bold-italic;
    src: url(OpenSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

/* General items */
* {
    box-sizing: border-box;
    font-family: opensans;
}

html { 
    background-color: var(--mboutside-background);
    padding: 1rem 0;
}

body {
    background-color: var(--mbbackground);
    max-width: 960px;
    margin: 0 auto;
}

/* Employee name/load */
header.login {
    background-color: var(--mbblue);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 1rem;
}

header.login span {
    color: white;
    align-self: center;
    padding: 0rem 1rem;
}

header.login button {
    align-self: center;
    margin-bottom: 2px;
    min-width: 70px;
}

/* Logo, page title, client name/load */
header.main {
    background-color: var(--mbheader);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 1rem;
}

header.main img { width: 250px; }

header.main h1 {
    flex-grow: 10;
    padding: 1rem 2rem;
}

header.main span.client {
    font-weight: bold;
    padding: 0rem 1rem;
}

header.main span.noclient {
    color: #ff0000;
    padding: 0rem 1rem;
}

header.main button {
    align-self: center;
    margin-bottom: 2px;
    min-width: 70px;
}

/* Navigation menu */
nav {
    height: 24px;
    min-width: 100%;
}

nav div.menu-bar {
    background-color: var(--mbmenu) ;
    width: 25%;
    z-index: 99;
    position: relative;
}

nav div.menu-bar label {
    cursor: pointer;
}

nav img.menu-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
}

nav input.menu-button {
    display: none;
}

nav input.menu-button:checked + div.menu,
nav input.menu-button:checked + div.submenu {
    height: 100%;
}

nav div.menu {
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
}

nav div.submenu {
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
}

nav span.menuitem {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

nav span.submenuitem {
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

nav span.submenuitem:first-child {
    padding-top: 1rem;
}

nav .submenu-depth-1 {
    padding-left: 1rem;
}

nav .submenu-depth-1:last-child {
    padding-bottom: 2rem;
}

nav .submenu-depth-2 {
    padding-left: 2rem;
}

nav .submenu-depth-3 {
    padding-left: 3rem;
}

/* Input fields */
input, select, textarea { width: 100%; }

input[type=date], input[type=radio], input[type=checkbox] {
    width: initial;
}

textarea { height: 6rem; }

input[type=submit] {
    border: none;
    width: 8rem;
    min-height: 16px;
    background-color: var(--mbblue);
    color: white;
}

input.danger { color: var(--mbwarn); }

/* Content section */
section.content {
    width: 100%;
    padding: 2rem 4rem 4rem 4rem;
}

h1 {
    font-weight: normal;
    color: var(--mbblue);
    margin: 0;
    padding: 2rem 0 1rem 0;
}

h1:first-child {
    padding: 0 0 1rem 0;
}

a {
    color: var(--mbblue);
    text-decoration: none;
}

/* Tables */
div.table {
    display: table;
    width: 100%;
    margin: 0.5rem;
    border-spacing: 0 1rem;
    overflow-x: auto;
}

div.table > div.header {
    display: table-row;
    font-weight: bold;
}

div.table > div.row { display: table-row; }
div.table > div.row:hover { background-color: var(--mblightblue); }
span.col { display: table-cell; }

/* Lists */
li { padding: 0.5rem 0; }

/* Columns */
div.multicol {
    column-count: 2;
}

div.multicol > h1 {
    padding-top: 0;
}

/* Forms */
form.input {
    display: flex;
    flex-direction: column;
}

form.input div.row {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
}

span.label { width: 40%; }
span.field { width: 60%; }
.center { justify-content: center; }
.right { justify-content: flex-end; }

/* Warnings */
.flash {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--mblightblue);
    border: 1px solid var(--mbwarn);
}

/* Special cases */
.sigpad { outline: 1px solid #ccc; }
