/* Define colours */
:root {
    --mbblue: #377ba8;
    --mblightblue: #cae6f6;
    --mbheader: #eee;
    --mbbackground: #fff;
    --mboutside-background: #e1e1e1;
    --mbmenu: #eee;
    --mbwarn:  #cc2f2e;
}

/* Fonts */
@font-face {
    font-family: opensans;
    src: url(OpenSans-Regular.ttf);
}

@font-face {
    font-family: opensans-bold;
    src: url(OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: opensans-italic;
    src: url(OpenSans-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: opensans-bold-italic;
    src: url(OpenSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

/* General items */
* {
    box-sizing: border-box;
    font-family: opensans;
}

html { 
    background-color: var(--mboutside-background);
    padding: 1em 0;
}

body {
    background-color: var(--mbbackground);
    max-width: 960px;
    margin: 0 auto;
}

/* Staff login bar */
header.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--mbblue);
    padding: 0 1em;
}

header.login span {
    color: white;
    padding-right: 1em;
}

/* Logo, page title, client name */
header.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--mbheader);
    padding: 0 1em;
}

header.main img {
    width: 30%;
}

header.main h1 {
    flex-grow: 2;
    padding: 1rem 0 1rem 2rem;
    overflow: hidden;
}

header.main span.client {
    font-weight: bold;
    padding-right: 1em;
}

header.main span.noclient {
    color: var(--mbwarn);
    padding-right: 1em;
}

header.login button,
header.main button {
    background-color: white;
}

/* Navigation menu */
nav {
    height: 24px;
    min-width: 100%;
}

nav div.menu-bar {
    background-color: var(--mbmenu) ;
    width: 25%;
    z-index: 99;
    position: relative;
}

nav div.menu-bar label {
    cursor: pointer;
}

nav img.menu-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
}

nav input.menu-button {
    display: none;
}

nav input.menu-button:checked + div.menu,
nav input.menu-button:checked + div.submenu {
    height: 100%;
}

nav div.menu {
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
}

nav div.submenu {
    display: flex;
    flex-direction: column;
    height: 0px;
    overflow: hidden;
}

nav span.menuitem {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

nav span.submenuitem {
    padding-left: 2rem;
    padding-bottom: 0.5rem;
}

nav span.submenuitem:first-child {
    padding-top: 1rem;
}

nav .submenu-depth-1 {
    padding-left: 1rem;
}

nav .submenu-depth-1:last-child {
    padding-bottom: 2rem;
}

nav .submenu-depth-2 {
    padding-left: 2rem;
}

nav .submenu-depth-3 {
    padding-left: 3rem;
}

/* Content section */
section.content {
    width: 100%;
    padding: 2rem 4rem 4rem 4rem;
}

h1 {
    font-weight: normal;
    color: var(--mbblue);
    margin: 0;
    padding: 1rem 0;
}

a {
    color: var(--mbblue);
    text-decoration: none;
}

/* Tables */
div.table {
    width: 100%;
    padding-bottom: 1rem;
}

div.table-header {
    width: 100%;
    font-weight: bold;
    padding-bottom: 0.5em;
}

div.table > input[type=radio] {
    display: none;
}

div.table > label:hover {
    background-color: #eee;
}

div.table > input:checked + label {
    background-color: var(--mblightblue);
}

div.table span.col {
    width: 23%;
    display: inline-block;
}

/* Lists */
li { padding: 0.5rem 0; }

/* Columns */
div.multicol {
    column-count: 2;
}

/* Forms */
form.input {
    display: flex;
    flex-direction: column;
}

div.row {
    display: flex;
    flex-direction: row;
    padding: 0.3em 0;
}

span.label { width: 40%; }
span.field { width: 60%; }
span.radiolabel { width: 95%; }
span.radiofield { width: 5%; }
.center { justify-content: center; }
.right { justify-content: flex-end; }

/* Special form with expanding hidden boxes */
div.expandformrow { padding: 0.3em 0; }
input.expandform { width: 5%; }
label.expandform { width: 95%; }
div.expandform {
    display: none;
    width: 100%;
}

input.expandform:checked ~ div.expandform {
    display: block;
}

/* Input fields */
input,
select,
textarea {
    width: 100%;
}

input[type=date],
input[type=radio],
input[type=checkbox] {
    width: initial;
    margin-right: 1em;
}

textarea {
    height: 6rem;
}

input[type=submit], button {
    border: 0.7px outset #dadada88;
    padding: 0 1em;
    background-color: #eee;
    border-radius: 2.5px;
    min-width: 8em;
    width: initial;
    margin-right: 2em;
}

/* Warnings */
.flash {
    margin: 1em;
    padding: 1em;
    background-color: var(--mblightblue);
    border: 1px solid var(--mbwarn);
}

/* Signature pad */
.sigpad {
    outline: 1px solid #dadada;
    width: 100%;
    height: 150px;
}

/* Pain area drawing */
div.painarea {
    position: relative;
    width: 100%;
    height: 600px;
}

img.painarea {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

canvas.painarea {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: crosshair;
}

div.painarealabel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-weight: bold;
}

label.switch {
  position: relative;
  display: inline-block;
  width: 2.2em;
  height: 1.2em;
  margin: 0 0.5em;
}

input.switch {
    display: none;
}

span.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eee;
  -webkit-transition: .4s;
  transition: .4s;
}

span.switch::before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  top: 0.1em;
  left: 0.1em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.switch:checked + span.switch {
  background-color: var(--mbwarn);
}

input.switch:checked + span.switch::before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

/* Document revision */
.docrev {
    font-size: 60%;
    width: 100%;
    text-align: right;
    margin-bottom: 1em;
}


/* Printed pages */
@media print {
    @page {
        size: letter;
        margin: 3cm;

        @bottom-center {
            content: counter(page) '/' counter(pages);
        }
    }

    header.main {
        position: fixed;
        top: -2cm;
        left: 0;
        width: 100%;
    }

    /* Why is the original image not included? */
    header.main:before {
        width: 20%;
        content: url('/static/logo.svg');
    }

    header.main > h1 {
        font-size: 120%;
    }

    /* Hide all interaction elements like buttons */
    button,
    input[type=submit],
    header.login,
    nav {
        display: none;
    }

    html {
        background-color: white;
        padding: 0;
    }

    section.content {
        padding: 0;
    }

    /* Weasyprint does not support forms yet, so fake them */
    div.checkbox {
        display: inline-block;
        width: 11px;
        height: 11px;
        border: 1px solid #dadada;
        border-radius: 3px;
        margin: 0 1em;
    }

    div.checkbox-checked {
        background-color: #00306f;
    }

    div.radio {
        display: inline-block;
        width: 11px;
        height: 11px;
        border: 1px solid #dadada;
        border-radius: 20px;
        margin: 0 1em;
    }

    div.radio-checked {
        background-color: #00306f;
    }

    div.textinput {
        display: block;
        border: 1px solid #dadada;
        padding: 2px;
        width: 100%;
        min-height: 1.6em;
    }

    div.textarea {
        display: block;
        border: 1px solid #dadada;
        padding: 2px;
        width: 100%;
        min-height: 6rem;
    }
}
