boto3
celery
elasticsearch
Flask
flask-accepts
Flask-Cors
flask-marshmallow
Flask-Migrate
flask-restx==0.2.0
Flask_SQLAlchemy
Flask_WTF
marshmallow
marshmallow-sqlalchemy==0.25.0
psycopg2
PyPDF2
pytest
pytest-cov
pytz
redis
requests
requests-oauthlib
twilio
PyJWT>=2.0.0
WeasyPrint
werkzeug
WTForms
