boto3
Flask
flask-accepts
Flask-Cors
Flask-HTTPAuth
flask-marshmallow
Flask-Migrate
flask-restx
Flask_SQLAlchemy
flask-marshmallow
Flask_WTF
mashmallow
marshmallow-sqlalchemy
psycopg2
pytest
pytest-cov
pytz
WeasyPrint
WTForms
