{% extends 'base.html' %}
{% block title %}Consent form{% endblock %}
{% block content %}
<div class="docrev">Document revision: 2020-03-17</div>
<h1>General health care consent</h1>

<p>I request and authorize Modo Bio Health Systems LLC ("Modo Bio") and Modo Bio's affiliated Doctor ("The Doctor"), to provide outpatient care as The Doctor, The Doctor's assistants and designees deem advisable. This care may include, but is not limited to, physical examination, the drawing and testing of blood, medical advice, and prescriptions of medications, supplements, and other therapeutics. I authorize the health care team at Modo Bio to perform other additional or extended services in emergency situations if it may be necessary or advisable in order to preserve my life or health.</p>

<p>I am aware that the practice of medicine is not an exact science and I acknowledge that no guarantees or promises have been made to me with respect to the results of any diagnostic procedure or treatment.</p>

<h1>Informed consent to physical therapy services</h1>

<p><strong>Cooperation with treatment</strong>: In order for physical therapy treatment to be effective, I must come to scheduled appointments unless there are unusual circumstances. I understand and agree to cooperate with and perform the home physical therapy program intended for me. If I have trouble with any part of my treatment program, I will discuss it with my therapist.</p>

<p><strong>Informed consent for treatment</strong>: The term "informed consent" means that the potential risks, benefits and alternatives of physical therapy treatment have been explained to me. The therapist provides a wide range of services and I understand that I will receive information at the initial visit concerning the treatment and options available for my condition.</p>

<p><strong>No warranty</strong>: I understand that there are no guarantees regarding a cure for or improvement in my condition.</p>

<p><strong>Potential risks</strong>: I may experience an increase in my current level of pain or discomfort, or an aggravation of my existing injury or condition. This discomfort is usually temporary; if it does not subside in a reasonable time period, I agree to contact my physical therapist.</p>

<p><strong>Potential benefits</strong>: I may experience an improvement in my symptoms and an increase in my ability to perform daily activities. I may experience increased strength, awareness, flexibility, and endurance in my movements. I may experience decreased pain and discomfort. I should gain greater knowledge about managing my condition and the resources available to me.</p>

<h1>Informed consent to Intramuscular Manual Therapy/Functional Dry Needling (IMT/FDN)</h1>

<p>IMT/FDN is a valuable treatment for musculoskeletal related pain such as soft tissue and joint pain, as well as to increase muscle performance. IMT/FDN involves placing a small needle into the muscle at the trigger point which is typically in an area in which the muscle is tight and may be tender with the intent of causing the muscle to contract and then release, improving the flexibility of the muscle and therefore decreasing the symptoms. The performing therapist will not stimulate any distal or auricular points during the dry needling treatment.</p>

<p><strong>Risks of the procedure</strong>: Though unlikely, there are risks associated with this treatment. The most serious risk is accidental puncture of a lung (pneumothorax). If this were to occur, it may require only a chest X-ray and no further treatment as it can resolve on its own. A more severe lung puncture can require hospitalization and re-inflation of the lung. This is a rare complication and in skilled hands should not be a concern. If you feel any related symptoms, immediately contact your IMT/FDN provider. If a pneumothorax is suspected, you should seek medical attention from your physician or if necessary, go to the nearest emergency department or dial 911.</p>

<p>Other risks may include bruising, infection and nerve injury. Please notify your provider if you have any conditions that can be transferred by blood, require blood anticoagulants or any other conditions that may have an adverse effect to needle punctures. Bruising is a common occurrence and should not be a concern unless you are taking a blood thinner. Significant tissue trauma from IMT/FDN is possible but unlikely.</p>

<h1>Informed consent to participation in physical fitness program</h1>

<p>I understand that my physical fitness program is individually tailored to meet the goals and objectives agreed upon by my personal trainer and myself. I understand, however, that my personal trainer cannot guarantee that I will accomplish the goals that are established.</p>

<p>I understand that my exercise program will involve participation in a number of types of fitness activities. These activities will vary depending upon my established objectives, but will probably include: 1) aerobic activities; 2) muscular endurance and strength building exercises; 3) other activities selected by my personal trainer and agreed upon by me.</p>

<p><strong>Potential Risks</strong>: No exercise program is without inherent risks. Regardless of the care taken by my personal trainer, he cannot guarantee my personal safety. I realize that when participating in any exercises or conditioning activity, there is always a possibility that minor injuries, major injuries, or catastrophic injury/death may occur.</p>

<p><strong>Risks due to alcohol and substance use</strong>: use of alcohol or drugs, whether licit or illicit, can significantly affect my participation in the Modo Bio Program. I understand that the success of the program may be limited significantly if I continue to use illicit drugs and/or alcohol. Because interactions between alcohol or drug use with certain aspects of the Modo Bio program can be catastrophic or potentially fatal, I will be forthcoming regarding any substance use or abuse issues.</p>

<p><strong>Potential Benefits</strong>: I understand that a regular exercise program has been shown to have definite benefits to general health and well-being, both physiological and psychological.</p>

<p>I represent that I am in good physical condition and have no medical reason or impairment that might prevent me from participation in the program. I will fully disclose any health issues or medications that are relevant to participation in an exercise program.</p>

<p>In agreeing to this exercise program:</p>

<ul>
<li>I acknowledge that my participation is voluntary.</li>
<li>I understand the potential risks involved in the exercise program and believe that the potential benefits outweigh those risks.</li>
<li>I give consent to certain physical touching that may be necessary to ensure proper technique and body alignment.</li>
<li>I understand that the achievement of health or fitness goals cannot be guaranteed.</li>
<li>I will cease exercise immediately if I experience unusual discomfort and feel the need to stop.</li>
</ul>

<p>Please consult with your practitioner if you have any questions regarding the treatment above.</p>

<p>Do you have any known disease or infection that can be transmitted through bodily fluids?</p>
<div>
{% for choice in form.infectious_disease %}
    {{ macros.radioinput(choice, formid='signform', pdf=pdf) }} {{ choice.label }}
{% endfor %}
</div>
<p><strong>If you marked yes, please discuss with our practitioner.</strong></p>

<p>I acknowledge receipt of this consent form; that I have reviewed and understood it; that I have had the opportunity to ask questions; and that I consent to the care provided at Modo Bio.</p>

{{ macros.signform(form, 'signform', url_for('intake.consent'), pdf=pdf) }}
{% endblock %}
