{% extends 'base.html' %}
{% block title %}Physical therapy history{% endblock %}
{% block content %}
<form id="pthistory" class="input" method="POST" action="{{ url_for('pt.history') }}">
    <div class="row">
        <span class="label">{{ form.exercise.label }}</span>
        <span class="field">{{ form.exercise() }}</span>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <span class="label">{{ form.treatment.label }}</span>
        <span class="field">{{ form.treatment() }}</span>
    </div>
    <div class="row">&nbsp;</div>
    <p>Please indicate any areas of pain you are currently experiencing.</p>
    {{ form.pain_areas() }}
    <div class="painarealabel">
        <span>Front</span>
        <span>Back</span>
    </div>
    <div class="painarea">
        <img class="painarea" src="{{ url_for('static', filename='human_silhouette.svg') }}">
        <canvas class="painarea" id="pain"></canvas>
    </div>
    <div class="row center">
        <span>Draw</span>
        <label class="switch">
            <input type="checkbox" id="draw">
            <span class="slider"></span>
        </label>
        <span>Erase</span>&nbsp;&nbsp;
        <button id="clear" type="button">Clear</button>
    </div>
    <div class="row">&nbsp;</div>
    <p>Please rate your symptoms on scale of 0 to 10, with 0 = no pain and 10 = the worst pain imaginable, you need to go to the emergency room.</p>
    <div class="row">
        <span class="label">{{ form.best_pain.label }}</span>
        <span class="field">{{ form.best_pain() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.worst_pain.label }}</span>
        <span class="field">{{ form.worst_pain() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.current_pain.label }}</span>
        <span class="field">{{ form.current_pain() }}</span>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <span class="label">{{ form.makes_worse.label }}</span>
        <span class="field">{{ form.makes_worse() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.makes_better.label }}</span>
        <span class="field">{{ form.makes_better() }}</span>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row center"><button type="submit">Next</button></div>
</form>
<script>add_pain_area_pad('pain', 'pthistory', 'clear', 'draw', '{{ form.pain_areas.id }}');
</script>
{% endblock %}
