{% extends 'base.html' %}
{% block title %}Individual services{% endblock %}
{% block content %}
<div class="docrev">Document revision: 2020-05-13</div>
<p>Individual services may be purchased outside of the subscription plan.</p>
<div class="row">
    <span class="radiofield">{{ form.doctor_consult(form='signform') }}</span>
    <span class="radiolabel">Appointment with our affiliated Doctor: $400 for a 1 hour consultation.</span>
</div>
<div class="row">
    <span class="radiofield">{{ form.pt_consult(form='signform') }}</span>
    <span class="radiolabel">Appointment with our staff Physical Therapist: $275 for a 1 hour consultation.</span>
</div>
<div class="row">
    <span class="radiofield">{{ form.data_monitoring(form='signform') }}</span>
    <span class="radiolabel">Wearable device bio-data monitoring: $30 per month.</span>
</div>
<div class="row">
    <span class="radiofield">{{ form.drinks(form='signform') }}</span>
    <span class="radiolabel">Nutritional supplements: price to be determined when they are available.</span>
</div>

<h1>Notes</h1>
<ul>
    <li>Consultations may take place in person or by video, depending on scheduling.</li>
    <li>The Modo Bio bio-data monitoring program operates through an Oura Ring wearable device. We have found the Oura Ring superior for tracking relevant information, although we may add other wearables to the program in the future.</li>
    <li>You may purchase an Oura Ring directly from Oura, or from Modo Bio.</li>
    <li>You must give Modo Bio access to your wearable device data, which may require you to execute a consent or enter a consent on a website to release your bio-data to us.</li>
    <li>Bio-data analysis may require up to 9 months or more of data gathering to provide useful information.</li>
    <li>Bio-data analysis may be performed by a Modo Bio Team Member, or by third-party contractors.</li>
</ul>

<p>I have read and I understand this Modo Bio Individual Services Agreement and the Mobo Bio Policies, which I signed on a previous page.</p>

{{ macros.signform(form, 'signform', url_for('intake.individual'), pdf=pdf) }}
{% endblock %}
