{% extends 'base.html' %}
{% block title %}Select client{% endblock %}
{% block content %}
<form class="input" method="POST" action="{{ url_for('main.clientload') }}">
    <div class="table">
        <div class="table-header">
            <span class="col">First name</span>
            <span class="col">Last name</span>
            <span class="col">Phone number</span>
            <span class="col">Email address</span>
        </div>
    {% for client in clients %}
        <input type="radio" id="{{ loop.index0 }}" name="clientid" value="{{ client.clientid }}">
        <label for="{{ loop.index0 }}">
            <span class="col">{{ client.firstname }}</span>
            <span class="col">{{ client.lastname }}</span>
            <span class="col">{{ client.phone }}</span>
            <span class="col">{{ client.email }}</span>
        </label>
    {% endfor %}
    </div>
    <div class="row center"><input type="submit" value="Load"></div>
</form>
{% endblock %}