{% extends 'base.html' %}
{% block title %}Employee login{% endblock %}
{% block content %}
<form class="input" method="POST" action="{{ url_for('main.login') }}">
    <div class="row">
        <span class="label">{{ form.email.label }}</span>
        <span class="field">{{ form.email() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.password.label }}</span>
        <span class="field">{{ form.password() }}</span>
    </div>
    <div class="row center"><input type="submit" value="Login"></div>
</form>
{% endblock %}
