{
    "version": "2017-02-28",
    "operation": "GetItem",
    "key": {
        "user_id": $util.dynamodb.toDynamoDBJson($ctx.args.user_id),
        "date": $util.dynamodb.toDynamoDBJson($ctx.args.date),
    }
}
