{% extends 'base.html' %}
{% block title %}Medical history{% endblock %}
{% block content %}
<form class="input" method="POST" action="{{ url_for('doctor.history') }}"
        oninput="ageout.value = age(new Date(dob.value));">
    <div class="row">
        <span class="label">{{ form.dob.label }}</span>
        <span class="field">{{ form.dob() }}&nbsp;&nbsp;Age:&nbsp;<output name="ageout"></span>
    </div>
    <div class="row">
        <span class="label">{{ form.healthcare_contact.label }}</span>
        <span class="field">{{ form.healthcare_contact() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.healthcare_phone.label }}</span>
        <span class="field">{{ form.healthcare_phone() }}</span>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <span class="label">{{ form.last_examination_date.label }}</span>
        <span class="field">{{ form.last_examination_date() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.last_examination_reason.label }}</span>
        <span class="field">{{ form.last_examination_reason() }}</span>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <span class="label">{{ form.goals.label }}</span>
        <span class="field">{{ form.goals(rows=5) }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.concerns.label }}</span>
        <span class="field">{{ form.concerns() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.family_history.label }}</span>
        <span class="field">{{ form.family_history() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.social_history.label }}</span>
        <span class="field">{{ form.social_history() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.allergies.label }}</span>
        <span class="field">{{ form.allergies() }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.medication.label }}</span>
        <span class="field">{{ form.medication() }}</span>
    </div>

    <h1>Diagnostic history</h1>
    {% for element in (form.diagnostic_xray, form.diagnostic_ctscan,
                       form.diagnostic_endoscopy, form.diagnostic_mri,
                       form.diagnostic_ultrasound, form.diagnostic_other) %}
    {{ macros.expandbox(element) }}
    {% endfor %}
    <div class="row">&nbsp;</div>
    <div class="row center"><button type="submit">Next</button></div>
</form>
<script>
    window.onload = function(){
        var ageout = document.getElementsByName('ageout')[0];
        var dob = document.getElementsByName('dob')[0];
        ageout.value = age(new Date(dob.value));
    }
</script>
{% endblock %}
