{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='icon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {# Signature pad script: https://github.com/szimek/signature_pad #}
    <script src="{{ url_for('static', filename='signature_pad.2.3.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='library.js') }}"></script>
</head>
<body>
{% if session.get('staffid') %}
    <header class="login">
        <span>{{ session.get('staffname') }}</span>
        <form id="logout" action="{{ url_for('main.logout') }}"></form>
        <button type="submit" form="logout">Log out</button>
    </header>
{% endif %}
<header class="main">
    <img src="{{ url_for('static', filename='logo.svg') }}">
    <h1>{{ self.title() }}</h1>
    {% if session.get('staffid') %}
        {% if session.get('clientid') %}
            <span class="client">{{ session.get('clientname') }}</span>
            <form id="loadclient" action="{{ url_for('main.clientsearch') }}"></form>
            <button type="submit" form="loadclient">Switch</button>
        {% else %}
            <span class="noclient">No client loaded</span>
            <form id="loadclient" action="{{ url_for('main.clientsearch') }}"></form>
            <button type="submit" form="loadclient">Load</button>
        {% endif %}
    {% endif %}
</header>
{% if session.get('staffid') %}{% include 'menu.html' %}{% endif %}
<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
</body>
</html>
