{% extends "modo-bio-automated-email-template-body.html" %}
{% block body %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Hi {{ firstname }},
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  We&rsquo;re excited to have you as a member!
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  To get the most out of your subscription, start by syncing your wearable device and entering your health records.
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Next you&rsquo;ll want to add your friends and family to your team. It&rsquo;s free for them and the value of the added support and motivation can&rsquo;t be understated.
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  You can also invite your health providers to become part of your team. It&rsquo;s free for them and provides them with a continuous view of your health, so they can make more informed decisions.
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  We&rsquo;re here to help, so if you have any issues or questions, please feel free to reach out at <a href="mailto:support@modobio.com">support@modobio.com</a>!
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Be sure to check out our <a href="https://www.youtube.com/channel/UChRpuF81bndqK0fWoZJvcWw">YouTube channel</a> if you need help with syncing your device or general app navigation.
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Join us on <a href="https://www.instagram.com/modo.bio/">Instagram</a>, so you can stay up to date, get our latest health and wellness content, meet other members, and share your experiences.
</p>

<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  -The Modo Bio Team
</p>
{% endblock %}