{# Returns a text box.
    If pdf=True, returns a <div class="textinput"> which is visually similar
    to <input type="text">.

    field: wtforms.StringField object
    formid: if this input is generated outside of <form>, give the formid it belongs to
    pdf: set to True if the output is to be rendered as a PDF.
#}
{% macro textinput(field, formid=None, pdf=False) %}
    {% if pdf %}
        <div class="textinput">{{ field.data }}</div>
    {% else %}
        {% if formid %}
            {{ field(form=formid) }}
        {% else %}
            {{ field() }}
        {% endif %}
    {% endif %}
{% endmacro %}

{# Returns a date box.
    If pdf=True, returns a <div class="textinput">.

    field: wtforms.DateField object
    formid: if this input is generated outside of <form>, give the formid it belongs to
    pdf: set to True if the output is to be rendered as a PDF.
#}
{% macro dateinput(field, formid=None, pdf=False) %}
    {% if pdf %}
        {# TODO: date formatting #}
        <div class="textinput">{{ field.data }}</div>
    {% else %}
        {% if formid %}
            {{ field(form=formid) }}
        {% else %}
            {{ field() }}
        {% endif %}
    {% endif %}
{% endmacro %}

{# Returns a select box with options.
    If pdf=True, returns the selected value in a <div class="textbox">.

    field: wtforms.SelectField object
    formid: if this input is generated outside of <form>, give the formid it belongs to
    pdf: set to True if the output is to be rendered as a PDF.
#}
{% macro selectinput(field, formid=None, pdf=False) %}
    {% if pdf %}
        <div class="textbox">{{ field.data }}</div>
    {% else %}
        {% if formid %}
            {{ field(form=formid) }}
        {% else %}
            {{ field() }}
        {% endif %}
    {% endif %}
{% endmacro %}

{# Returns a radio choice field.
    If pdf=True, returns <div class="radio"> (or <div class="radio radio-checked>)
    which is visually similar to <input type="radio">.

    This macro does **NOT** loop over all choices.

    field: wtforms.RadioField object
    formid: if this input is generated outside of <form>, give the formid it belongs to
    pdf: set to True if the output is to be rendered as a PDF.
#}
{% macro radioinput(field, formid=None, pdf=False) %}
    {% if pdf %}
        {% if field.checked %}
            <div class="radio radio-checked"></div>
        {% else %}
            <div class="radio"></div>
        {% endif %}
    {% else %}
        {% if formid %}
            {{ field(form=formid) }}
        {% else %}
            {{ field() }}
        {% endif %}
    {% endif %}
{% endmacro %}

{# Returns a check box.
    If pdf=True, returns a <div class="checkbox"> which is visually similar
    to <input type="check">.

    field: wtforms.BooleanField object
    formid: if this input is generated outside of <form>, give the formid it belongs to
    pdf: set to True if the output is to be rendered as a PDF.
#}
{% macro checkinput(field, formid=None, pdf=False) %}
    {% if pdf %}
        {% if field.data %}
            <div class="checkbox checkbox-checked"></div>
        {% else %}
            <div class="checkbox"></div>
        {% endif %}
    {% else %}
        {% if formid %}
            {{ field(form=formid) }}
        {% else %}
            {{ field() }}
        {% endif %}
    {% endif %}
{% endmacro %}

{# An expanding checkbox
    Generates a checkbox with a label that, when checked, expands a textbox
    for further information.

    If the checkbox is checked, but nothing is entered in the textbox, then
    nothing is stored. The checked state of the checkbox itself is not stored.

    element: StringField
#}
{% macro expandbox(element) %}
    <div class="expandformrow">
        <input class="expandform" type="checkbox" id="{{ element.name }}"
            {% if element.data %}checked{% endif %}>
        <label class="expandform" for="{{ element.name }}">{{ element.label }}</label>
        <div class="expandform">
            {{ element() }}
        </div>
    </div>
{% endmacro %}

{# A canvas with a signature pad.
    If pdf=True, returns <img class="sigpad"> with the PNG contents of the signature.

    field: wtforms.HiddenField object that holds the signature data
            as a mime-type + base64 encoded string.
    id: the id of the signature canvas.
    formid: the id of the form that holds the signature pad.
    pdf: set to True if the output is to be rendered as a PDF.
#}
{% macro signatureinput(field, id, formid, pdf=False) %}
    {% if pdf %}
    <img class="sigpad" src="{{ field.data }}">
    {% else %}
    <canvas class="sigpad" id="{{ id }}"></canvas>
    <div class="row right"><button id="{{ id }}-clear" type="button">Clear</button></div>
    <script>add_signature_pad('{{ id }}', '{{ formid }}', '{{ id }}-clear', '{{ field.name }}');</script>
    {% endif %}
{% endmacro %}

{# Generic form generator. Loops over all input fields to generate them.
    If pdf=True, will generate the PDFable versions.

    form: the wtforms.Form object.
    id: unique id for this form.
    endpoint_url: URL for this form on submit (give as url_for(endpoint.name)).
    pdf: set to True if the output is to be rendered as a PDF.
#}
{% macro makeform(form, id, endpoint_url, submit='Next', pdf=False) %}
    <form id="{{ id }}" class="input" method="POST" action="{{ endpoint_url }}">
    {% for field in form %}
    <div class="row">
    {%   if field.type in ('StringField', 'DecimalField', 'IntegerField', 'FloatField') %}
        <span class="label">{{ field.label }}</span>
        <span class="field">{{ textinput(field, pdf=pdf) }}</span>
    {% elif field.type == 'DateField' %}
        <span class="label">{{ field.label }}</span>
        <span class="field">{{ dateinput(field, pdf=pdf) }}</span>
    {% elif field.type == 'SelectField' %}
        <span class="label">{{ field.label }}</span>
        <span class="field">{{ selectinput(field, pdf=pdf) }}</span>
    {% elif field.type == 'RadioField' %}
        {% for subfield in field %}
            <span class="radiofield">{{ radioinput(subfield, pdf=pdf) }}</span>
            <span class="radiolabel">{{ subfield.label }}</span>
        {% endfor %}
    {% elif field.type == 'BooleanField' %}
        <span class="radiofield">{{ checkinput(field, pdf=pdf) }}</span>
        <span class="radiolabel">{{ field.label }}</span>
    {% elif field.type == 'HiddenField' and field.id == 'spacer' %}
        &nbsp;
    {% else %}
        {# TODO: figure out if CSRF tokens need to be rendered #}
        {{ field() }}
    {% endif %}
    </div>
    {% endfor %}
    <div class="row center"><button type="submit">{{ submit }}</button></div>
    </form>
{% endmacro %}

{# Signature form generator.
    If pdf=True, will generate the PDFable versions.

    form: the wtforms.Form object.
    id: unique id for this form.
    endpoint_url: URL for this form on submit (give as url_for(endpoint.name)).
    pdf: set to True if the output is to be rendered as a PDF.
#}
{% macro signform(form, id, endpoint_url, pdf=False) %}
    {% if not pdf %}
    <form id="{{ id }}" class="input" method="POST" action="{{ endpoint_url }}">
    {{ form.signature() }}
    {% endif %}
    <div class="row">
        <span class="label">{{ form.signdate.label }}</span>
        <span class="field">{{ textinput(form.signdate, pdf=pdf) }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.fullname.label }}</span>
        <span class="field">{{ textinput(form.fullname, pdf=pdf) }}</span>
    </div>
    <div class="row">
        <span class="label">{{ form.guardianname.label }}</span>
        <span class="field">{{ textinput(form.guardianname, pdf=pdf) }}</span>
    </div>
    <div class="row">
        <span class="label">Signature</span>
        <span class="field">{{ signatureinput(form.signature, 'sigpad', id, pdf=pdf) }}</span>
    </div>
    {% if not pdf %}
    <div class="row">&nbsp;</div>
    <div class="row center"><button type="submit">Accept</button></div>
    </form>
    {% endif %}
{% endmacro %}
