<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Hi {{firstname}}, 
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Your telehealth appointment with {{provider_firstname}} is in 6 hours. 
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Reminder: Your provider reserves the right to charge you for the appointment if it is cancelled within 24 hours of the scheduled start time.  
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    Thanks,  
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
    - Modo Bio Team 
</p> 