{% extends "modo-bio-automated-email-template-body.html" %}
{% block body %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Hi {{ firstname }},
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  We're excited to have you as a member!  
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  To get the most out of your subscription, start by syncing your Apple Watch or Fitbit and entering your health records. 
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Next, connect with our network of vetted health and wellness providers- including Medical Doctors, Certified Personal Trainers, Certified Dietitians and Mental Health Providers - who can help you use your data to reach your goals. 
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Also, don't forget to add your friends and family to your team. It's free for them and the value of the added support and motivation can't be understated. 
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  We're here to help, so if you have any issues or questions, please feel free to reach out! 
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Be sure to check out our instructional page if you need help with synching your device or general app navigation.  
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  Join us on <b><a href="https://www.instagram.com/modo.bio/" style=" color: #5659e2">Instagram</a></b> so you can stay up to date, get our latest health and wellness content, meet other members, and share your experiences.  
</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">
  -The Modo Bio Team 
</p> 
{% endblock %}