{% extends "modo-bio-automated-email-template-body.html" %}
{% block body %}
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">{{ fullname }} is creating a team of health and wellness providers to help them take control of their health. Along with friends and family to help them stay motivated.</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">They've added you to their team! Being on a team is FREE.</p> 
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;"><b><a href="https://apps.apple.com/us/app/modo-bio/id1561021789" style=" color: #5659e2">Download the app</a></b> and start helping {{ firstname }} achieve their health goals.</p>
<p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;">-The Modo Bio Team </p>
{% endblock %}