{% extends 'base.html' %}
{% block title %}Consultation contract{% endblock %}
{% block content %}
<div class="docrev">Document revision: 2020-04-28</div>
<p>Welcome to Modo Bio, and to your first step in developing a customized, proactive, and natural pathway to your personal health and wellness goals. Modo Bio works with you, to create a highly personal and continuously assessed health and wellness solution, supported by data analysis.</p>

<p>Your initial consultation is your first step toward a highly personalized and sustainable optimization of your well-being, performance, and healthcare. A complete initial consultation costs $700 (plus laboratory costs), and consists of two 1-hour modules:
<ul>
    <li>The <i>Evaluation Module</i> has 3 components:
        <ol>
            <li>Medical and nutritional evaluation with Dr. Adam Douglas, in his independent practice</li>
            <li>Physical movement evaluation with Dr. Michael Kay</li>
            <li>Introduction to the Training Program with Parker Condit</li>
        </ol>
        Modo Bio will draw blood and potentially other samples for laboratory testing, and may include physical testing for the Training Program.</li>
    <li>The <i>Consultation Module</i> will be scheduled after return and our evaluation of the samples and lab tests. Modo Bio personnel will review your results and establish a data-optimized action plan to optimize your health and wellness.</li></p>
</ul>

<p>You may elect to purchase only the Evaluation Module, in which case the cost is $350 and no blood work or samples will be drawn or evaluated. The Consultation Module is available only with the Evaluation Module as a prerequisite.</p>

<p>I have read and I understand this Initial Consultation Modules Agreement and the Mobo Bio Policies, which I signed on a previous page.</p>

{{ macros.signform(form, 'signform', url_for('intake.consult'), pdf=pdf) }}
{% endblock %}
