{% extends 'base.html' %}
{% block title %}Initial consult contract{% endblock %}
{% block content %}

<p>Welcome to Modo Bio, and to your first step in developing a customized, proactive, and natural pathway to your personal health issues and goals. Modo Bio works with you, to create a highly personal and continuously assessed health and wellness solution, supported by data analysis.</p>

<p>Your initial consultation is your first step toward a highly personalized and sustainable optimization of your well-being, performance, and healthcare. A complete initial consultation costs $700 (plus laboratory costs), and consists of 2 one-hour modules:
<ul>
    <li>The <i>Evaluation Module</i> has 3 components:
        <ol>
            <li>Medical and nutritional evaluation with Dr. Adam Douglas</li>
            <li>Physical movement evaluation with Dr. Michael Kay</li>
            <li>Introduction to the Training Program with Parker Condit</li>
        </ol>
        Modo Bio will draw blood and potentially other samples for laboratory testing, and may include physical testing for the Training Program.</li>
    <li>The <i>Consultation Module</i> will be scheduled after return and our evaluation of the samples and lab tests. Modo Bio personnel will meet with you to review your health issues and establish a data-optimized action plan to optimize your health and wellness.</li></p>
</ul>

<p>Clients may elect to purchase only the Evaluation Module, in which case the cost is $350 and no blood work or samples will be drawn or evaluated. The Consultation Module is available only with the Evaluation Module as a prerequisite. Payment is required in advance.</p>

<h1>Modo Bio policies</h1>

<p><strong>Payment</strong>: Modo Bio requires payment in advance. Modo Bio will not bill insurance, and you agree to be a cash-pay client, at rates set by Modo Bio. If you choose to submit any insurance claims yourself, you understand that Modo Bio services are out-of-network, and Modo Bio does not promise reimbursement by any insurance provider. Modo Bio accepts payment by cash, electronic transfer, check, or credit card. There is a $25 fee for checks returned for non-sufficient funds.</p>

<p><strong>Cancellation fee</strong>: Modo Bio will charge a cancellation fee of $100 if you cancel an appointment within 48 hours of the scheduled time. If you cancel less than 24 hours before your appointment time, the cancellation fee is the full payment for the Module.</p>

<p><strong>Disputes</strong>: you agree that any disputes arising out of this Agreement shall be arbitrated in Maricopa County, Arizona, under the Arizona Revised Uniform Arbitration Act, A.R.S. &sect;12-3001 et seq., and the then-current American Arbitration Association (AAA) rules. Although the AAA rules shall apply, the arbitration shall not be conducted by or through AAA. Unless we mutually agree on an arbitrator within 30 days of a demand for arbitration, the arbitrator shall be appointed by the Presiding Civil Judge of the Maricopa County Superior Court, and shall be an attorney with at least 10 years' experience in healthcare law. The arbitrator shall issue a written, reasoned opinion within 60 days of conducting an arbitration hearing, which shall be binding and non-appealable.</p>

<p><strong>Disclosure of material health information</strong>: Modo Bio clients are required to disclose relevant medical information that could affect the Modo Bio program, any Modo Bio Team Member, or any other Modo Bio client. Your safety, and ours, depends on you providing accurate and complete information on your Client Information form, including any exposure to HIV/AIDS or COVID-19.</p>

<p><strong>Consent to use health information</strong>: you agree to release health information to Modo Bio as provided on the Modo Bio Release of Information form, which must be signed and returned before your first appointment.</p>

<p><strong>Scope</strong>: Modo Bio is not a substitute for regular checkups and medical care. You should have a primary care physician on your healthcare team, who can refer you to specialists for any healthcare needs (including behavioral health). Modo Bio uses your health-related information for lifestyle management and improvement, but the Modo Bio program does not replace your need for regular checkups and healthcare services.</p>

<p><strong>Language, translation services, and hearing-impaired clients</strong>: Modo Bio personnel are English-speaking only and cannot communicate effectively in any other language. Non-English-speaking clients must bring an adequate translator with them to every appointment, as Modo Bio does NOT offer translation services. If you require a translator but did not bring one with you, your appointment will be cancelled. Deaf or hearing-impaired clients should bring their own sign-language translators (often family members or friends, for example), provided that the translator is skilled enough to communicate detailed healthcare information effectively.</p>

<p><strong>Discharge policy</strong>: Modo Bio may discharge clients for such reasons as non-compliance, outstanding balance or failure to pay on account, being a "no-show" or late arrival, failure to establish an effective relationship, differing healthcare or lifestyle philosophies, disrespecting a Modo Bio Team Member, creating conflict, and so on. Formal discharge from Modo Bio is at our sole discretion.</p>

<p><strong>Alcohol and substance abuse notification</strong>: abuse of alcohol or drugs, whether licit or illicit, can significantly affect a client's participation in the Modo Bio Program. Clients must understand that their success may be limited significantly if they continue to use illicit drugs and/or alcohol. Because interactions between alcohol or drug use with certain aspects of the Modo Bio program can be catastrophic or potentially fatal, clients must be forthcoming regarding any substance use or abuse issues.</p>

<p><strong>Fragrance-free and quiet environment</strong>: Modo Bio tries to maintain a suitable environment for health optimization, including low-intensity lighting, quiet, and a scent-free environment. Clients must avoid wearing strong odors, whether from perfumes or grooming products. We also ask that clients put their cellphones on vibrate, refrain from talking on your phone while at Modo Bio, and use headphones or earbuds for listening to any electronic device.</p>

<p><strong>Audio and video recording</strong>: clients may not record any part of their sessions at Modo Bio without permission.</p>

<p><strong>Pregnancy and lactation warning</strong>: women clients of childbearing age are responsible to let their Modo Bio Team Member know if they are pregnant, may be pregnant, attempting to become pregnant, not practicing reliable birth control or breastfeeding. Clients at all times should keep their Modo Bio Team Member aware of their pregnancy, pregnancy potential, and breastfeeding status.</p>

<p><strong>After-hours policy</strong>: Modo Bio responds to client questions and concerns during regular business hours, M-F, 9 am to 5 pm. The Client Portal can be used after hours to submit questions; responses to routine questions, however, may take up to 2 business days via the portal. Do not submit emergent or urgent medical issues through the Portal. If you have a significant medical issue, you should directly proceed to the nearest emergency department or dial 911.</p>

<form class="input" action="{{ url_for('intake.consult') }}", method="POST">
{{ form.signature() }}
<p>I have read and I understand this Initial Consultation Modules Agreement and the Modo Bio Policies above.</p>
<div class="row">
    <span class="label">{{ form.signdate.label }}</span>
    <span class="field">{{ form.signdate() }}</span></div>
<div class="row">
    <span class="label">{{ form.fullname.label }}</span>
    <span class="field">{{ form.fullname() }}</span></div>
<div class="row">
    <span class="label">Signature</span>
    <span class="field"><canvas class="sigpad"></canvas></span></div>
<div class="row">
    <span class="label">&nbsp;</span>
    <span class="field"><button onclick="pad.clear(); return false;">Clear</button></span></div>
<div class="row">&nbsp;</div>
<div class="row right">
    <span style="font-size: 60%;">Document revision: 2020-04-01</span></div>
<div class="row">&nbsp;</div>
<div class="row center"><input id="submit" type="submit" value="Accept"></div>
</form>

<script>add_signature_pad('submit', 'signature')</script>
{% endblock %}
