{% extends 'base.html' %}
{% block title %}Release of information{% endblock %}
{% block content %}
<form class="input" method="POST" action="{{ url_for('intake.release') }}">
<div class="row">
    <span class="label">{{ form.fullname.label }}</span>
    <span class="field">{{ form.fullname() }}</span>
</div>
<div class="row">
    <span class="label">{{ form.dob.label }}</span>
    <span class="field">{{ form.dob() }}</span>
</div>
<div class="row">
    <span class="label">{{ form.address.label }}</span>
    <span class="field">{{ form.address() }}</span>
</div>
<div class="row">
    <span class="label">{{ form.phone.label }}</span>
    <span class="field">{{ form.phone() }}</span>
</div>
<div class="row">
    <span class="label">{{ form.email.label }}</span>
    <span class="field">{{ form.email() }}</span>
</div>

<p>Modo Bio's services are performed by licensed and/or trained professionals in accordance with the laws of the State of Arizona. Your privacy is important to us. We protect the confidentiality of your health information. Modo Bio may share your health information with others for purposes of your treatment, payment for that treatment, and health care operations activities. Modo Bio may also share your health information as authorized by you or as otherwise permitted by law. By signing this release, you give your permission for all the individuals and organizations listed to share your personal health information as described on this release.</p>

<p><strong>Modo Bio does not share your data with any third party without your consent.</strong></p>

<h1>Who can receive your health information?</h1>
<p>I authorize Modo Bio and the following individuals and organizations to receive my health information:<br>
<div class="row">{{ form.release_to_emergency_contact() }} {{ form.release_to_emergency_contact.label }}</div>
<div class="row">{{ form.release_to_primary_care_contact() }} {{ form.release_to_primary_care_contact.label }}</div>
</p>

<h1>What kind of health information?</h1>
<p>I authorize the sharing of:</p>
{% for choice in form.release_of_all %}
    {% if choice.label.text == 'all' %}
        <div class="row">{{ choice() }} All of my health information, including any sensitive health information such my genetic testing information, communicable disease information (like HIV/AIDS or sexually transmitted diseases), mental health information, and substance use disorder information (like drugs and alcohol).</div>
    {% else %}
        <div class="row">{{ choice() }} Other: Please tell us what health information we can share.</div>
        <div class="row">{{ form.release_of_other() }}</div>
    {% endif %}
{% endfor %}

<h1>Expiration and revocation</h1>
<p>I understand that I have the right to revoke (take back) or change the above permissions at any time, except to the extent that the individuals or organizations listed on this release have already taken action based on my consent. To revoke this consent, please write to Dr. Adam Douglas. This consent automatically ends one (1) year from the date of signature below or the date on which I discontinue my Modo Bio Services, whichever occurs first.</p>
<p>I understand that I cannot be denied treatment, payment for treatment, enrollment in a health plan, or eligibility for benefits if I refuse to sign this release. I understand that my health information disclosed as a result of this release may be redisclosed by the recipient and might not be protected by any privacy laws. I understand that I will receive a copy of this signed release of information.</p>

{{ form.signature() }}
<div class="row">
    <span class="label">{{ form.signdate.label }}</span>
    <span class="field">{{ form.signdate() }}</span>
</div>
<div class="row">
    <span class="label">Signature</span>
    <span class="field"><canvas class="sigpad"></canvas></span>
</div>
<div class="row">
    <span class="label">&nbsp;</span>
    <span class="field"><button onclick="pad.clear(); return false;">Clear</button></span>
</div>
<div class="row">&nbsp;</div>
<div class="row right"><span style="font-size: 60%;">Document revision: 2020-03-17</span></div>
<div class="row">&nbsp;</div>
<div class="row center"><button id="submit" type="submit">Accept</button></div>
</form>

<script>add_signature_pad('submit', 'signature')</script>
{% endblock %}