{% extends 'base.html' %}
{% block title %}Subscription contract{% endblock %}
{% block content %}
<div class="docrev">Document revision: 2020-04-28</div>
<p>Congratulations! You are ready to take your next steps in developing and following a customized, proactive, and natural response to your personal health issues and goals. Modo Bio works with you, to create a highly personal, continuously assessed health solution, supported by data analysis.</p>

<p>You have already completed your initial consultation. Now, together with your Modo Bio Team Members, you have a highly personalized and sustainable plan for optimization of your well-being, performance, and healthcare. This Subscription Agreement puts the plan into action. Together, you and Modo Bio will help you maximize your health and wellness.</p>

<h1>Subscription plan</h1>
<p>The Modo Bio Subscription plan provides access to the following services each month:</p>
<ul>
    <li>Eight 60-minute training sessions (twice per week) with Parker Condit.</li>
    <li>One 30-minute consultation with Dr. Michael Kay on your physical movement and activity.</li>
    <li>One 30-minute consultation on your medical and nutritional progress, for which we will refer you to Dr. Adam Douglas, whose practice is conveniently located adjacent to our offices.</li>
    <li>Wearable device bio-data monitoring and analysis.</li>
</ul>

<p>A Modo Bio subscription costs $1,250 per month, for a 3-month commitment. After 3 months, the subscription will automatically renew for another 3-month period.</p>

<h1>Individual services</h1>
<p>Individual services may be purchased outside of, or in addition to, the subscription plan.</p>
<ul>
    <li>Appointment with Dr. Michael Kay or Dr. Adam Douglas: $400 for a 1 hour consultation.</li>
    <li>Training session with Parker Condit: $120 for a 1 hour session.</li>
    <li>Wearable device bio-data monitoring: $30 per month.</li>
    <li>Customized nutritional supplements: $10 per bottle.</li>
    <li>Nutrition or hormone supplements: $5 per dosage.</li>
</ul>

<h1>Notes</h1>
<ul>
    <li>Consultations may take place in person or by video, depending on scheduling.</li>
    <li>Regular participation in all sessions and consultations is required for best results with the Modo Bio program. Sessions and consultations are scheduled on a monthly basis, and unused sessions and consultations do not roll over or carry forward.</li>
    <li>The Modo Bio program requires you to obtain an Oura Ring device to track bio-data. We have found the Oura Ring superior for tracking relevant information, although we may add other wearables to the program in the future.</li>
    <li>You may purchase an Oura Ring directly from Oura, or from Modo Bio.</li>
    <li>You must give Modo Bio access to your wearable device data, which may require you to execute a consent or enter a consent on a website to release your bio-data to us.</li>
    <li>Bio-data analysis may require up to 9 months or more of data gathering to provide useful information.</li>
    <li>Bio-data analysis may be performed by a Modo Bio Team Member, or by third-party contractors.</li>
</ul>

{% include 'intake/policies.html' %}

<p>I have read and I understand this Modo Bio Subscription Agreement and the Modo Bio Policies above.</p>

{{ macros.signform(form, 'signform', url_for('intake.subscription'), pdf=pdf) }}
{% endblock %}
